# WordPress
wp-config-local.php
.htaccess

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Node
node_modules/

# Composer
vendor/
composer.lock

# Tests & Binaries
phpunit.phar
.phpunit.result.cache
tests/_output/
tests/_support/_generated/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
error_log

# PHP
.phpunit.result.cache
.php-cs-fixer.cache
.phpcs-cache